@using Domain.Model;
@using Payroll_Mvc.Areas.Admin.Models;

@model EmployeeView

<div id="form-employee-contact">
    <table>
        <tr>
            <td valign="top" class="lbl">
                <label for="address_1" class="label">Address 1</label>
            </td>
            <td>
                <input id="id_address_1" name="address_1" type="text" class="text" placeholder="enter street" title="enter street" x-webkit-speech="x-webkit-speech" value="@Model.Employeecontact.Address1" />
            </td>
        </tr>
        <tr>
            <td valign="top" class="lbl">
                <label for="address_2" class="label">Address 2</label>
            </td>
            <td>
                <input id="id_address_2" name="address_2" type="text" class="text" placeholder="enter street" title="enter street" x-webkit-speech="x-webkit-speech" value="@Model.Employeecontact.Address2" />
            </td>
        </tr>
        <tr>
            <td valign="top" class="lbl">
                <label for="address_3" class="label">Address 2</label>
            </td>
            <td>
                <input id="id_address_3" name="address_3" type="text" class="text" placeholder="enter street" title="enter street" x-webkit-speech="x-webkit-speech" value="@Model.Employeecontact.Address3" />
            </td>
        </tr>
        <tr>
            <td valign="top" class="lbl">
                <label for="city" class="label">City</label>
            </td>
            <td>
                <input id="id_city" name="city" type="text" class="text" placeholder="enter city" title="enter city" x-webkit-speech="x-webkit-speech" value="@Model.Employeecontact.City" />
            </td>
        </tr>
        <tr>
            <td valign="top" class="lbl">
                <label for="state" class="label">State</label>
            </td>
            <td>
                <input id="id_state" name="state" type="text" class="text" placeholder="enter state" title="enter state" x-webkit-speech="x-webkit-speech" value="@Model.Employeecontact.State" />
            </td>
        </tr>
        <tr>
            <td valign="top" class="lbl">
                <label for="postcode" class="label">Postal Code</label>
            </td>
            <td>
                <input id="id_postcode" name="postcode" type="text" class="text" placeholder="enter postal code" title="enter postal code" x-webkit-speech="x-webkit-speech" value="@Model.Employeecontact.Postcode" />
            </td>
        </tr>
        <tr>
            <td valign="top" class="lbl">
                <label for="country" class="label">Country</label>
            </td>
            <td>
                <input id="id_country" name="country" type="text" class="text" placeholder="enter country" title="enter country" x-webkit-speech="x-webkit-speech" value="@Model.Employeecontact.Country" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr />
            </td>
        </tr>
        <tr>
            <td valign="top" class="lbl">
                <label for="home_phone" class="label">Home Telephone</label>
            </td>
            <td>
                <input id="id_home_phone" name="home_phone" type="text" class="text" placeholder="enter home phone" title="enter home phone" x-webkit-speech="x-webkit-speech" value="@Model.Employeecontact.Homephone" />
            </td>
        </tr>
        <tr>
            <td valign="top" class="lbl">
                <label for="mobile_phone" class="label">Mobile</label>
            </td>
            <td>
                <input id="id_mobile_phone" name="mobile_phone" type="text" class="text" placeholder="enter mobile phone" title="enter mobile phone" x-webkit-speech="x-webkit-speech" value="@Model.Employeecontact.Mobilephone" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr />
            </td>
        </tr>
        <tr>
            <td valign="top" class="lbl">
                <label for="work_email" class="label">Work Email</label>
            </td>
            <td>
                <input id="id_work_email" name="work_email" type="text" class="text" placeholder="enter work email" title="enter work email" x-webkit-speech="x-webkit-speech" value="@Model.Employeecontact.Workemail" />
            </td>
        </tr>
        <tr>
            <td valign="top" class="lbl">
                <label for="other_email" class="label">Other Email</label>
            </td>
            <td>
                <input id="id_other_email" name="other_email" type="text" class="text" placeholder="enter other email" title="enter other email" x-webkit-speech="x-webkit-speech" value="@Model.Employeecontact.Otheremail" />
            </td>
        </tr>
    </table>
</div>
